*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    padding: 12px 16px;
    background: blue;
    color: white;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
}
nav ul li{
    margin-right: 1rem;
}
nav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
nav a:hover{
    text-decoration: underline;
}
/* navbar end */



#booker-grid-holder {
    display: flex;
    justify-content: space-between;
  }
.booking-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }

.d-none{
    display: none;
}
.v-none{
    visibility: hidden;
}
.selected-seat {
    border: 4px outset rgb(0, 0, 0);
  }
  
  .unavailable-seat {
    background-color: gray;
    pointer-events: none;
  }
