*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  padding: 12px 16px;
  color: white;
  background: blue;
  justify-content: space-between;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;    
 
}
nav li{
  margin-right: 2rem;
}
nav a{
  display: flex;
  color: white;
  text-decoration: none;
  
}

.movie-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
  align-items: center;
  justify-content: space-evenly;
}
.movie-img-wrapper{
  height:40vh;
  width: 15vw;
  background-size: cover;
}

#booker{
  text-align: center;
}

#booker-grid-holder {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.booking-grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 20px;
}

.available-seat{
  background-color: green;
 
}
.unavailable-seat{
  background-color: red;
 
}
#book-ticket-btn{
  display: block;
  margin: 1vw auto;
}
.booking-grid > div {
  padding: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-seat{
  border:4px outset rgb(0, 0, 0);
}



.d-none{
  display: none;
}
.v-none{
  visibility: hidden;
}