*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    padding: 12px 16px;
    background: blue;
    color: white;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
}
nav ul li{
    margin-right: 1rem;
}
nav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
nav a:hover{
    text-decoration: underline;
}
/* navbar end */

#booker{
    text-align: center;
}

#booker-grid-holder {
    display: flex;
    justify-content: space-between;
    justify-content: center;
  }

  .booking-grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
  }
  
  .booking-grid > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: green;
    padding: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #booking-grid-4,
  #booking-grid-6,
    #booking-grid-8,
    #booking-grid-10,
    #booking-grid-11,
    #booking-grid-12,
    #booking-grid-13,
    #booking-grid-14,
    #booking-grid-15,
    #booking-grid-16{
    background: red;
  }
  #confirm-purchase{
    text-align: center;
  }
#customer-detail-form{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#success{
    text-align: center;
}
.d-none{
    display: none;
}
.v-none{
    visibility: hidden;
}
.selected-seat {
    border: 4px outset rgb(0, 0, 0);
  }
  
  .unavailable-seat {
    background-color: gray;
    pointer-events: none;
  }
